@import './reset.scss';

@font-face {
    font-family: DM Sans;
    src: url('../public/fonts/DMSans-Regular.ttf');
}

body {
    background: #F5F5F5;
}

.wrapper {
    width: 100%;
    height: 100%;
    color: #000;
    font-family: DM Sans;

    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 120px;

        .header {
            height: 112px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #000;

            &__logo {
                display: flex;
                align-items: center;
                margin-right: 64px;

                &-icon {
                    margin-right: 16px;
                }

                &-title {
                    font-size: 24px;
                    line-height: 28px;
                }
            }

            &__menu {
                &-list {
                    display: flex;
                    align-items: center;
                }

                &-item {
                    margin-right: 40px;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: underline;
                        font-size: 16px;
                        line-height: 23px;
                    }
                }
            }

            &__social {
                margin-left: auto;

                &-list {
                    display: flex;
                    align-items: center;
                }

                &-item {
                    margin-right: 16px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

            &__search {
                margin-left: 32px;
                cursor: pointer;
            }
        }

        .main {
            .info {
                padding-top: 80px;
                padding-bottom: 120px;
                border-bottom: 2px solid #000000;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__header {
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 24px;
                }

                &__title {
                    font-size: 64px;
                    line-height: 78px;
                    margin-bottom: 24px;
                    max-width: 744px;
                    text-align: center;
                }

                &__links {
                    display: flex;
                    align-items: center;
                }

                &__links-button {
                    width: 134px;
                    height: 56px;
                    border: 2px solid #000000;
                    border-radius: 8px;
                    text-align: center;
                    padding-top: 14px;

                    a {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;

                    }

                    margin-right: 16px;

                    cursor: pointer;

                    &.aboutus {
                        a {
                            padding-right: 36px;
                            color: #fff;
                        }

                        width: 154px;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUgMTJIMTkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xMiA1TDE5IDEyTDEyIDE5IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
                        background-repeat: no-repeat;
                        background-size: 24px 24px;
                        background-position: 106px 15px;
                        background-color: #000000;
                        border: transparent;
                    }

                    &:last-of-type {
                        margin-right: 0;

                    }
                }
            }

            .description {
                padding-top: 120px;
                border-bottom: 2px solid #000;
                padding-bottom: 120px;

                &__items {
                    display: flex;
                    flex-direction: column;
                }

                &__item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 80px;
                    justify-content: space-between;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &:nth-of-type(2n) {
                        .description__item-img {
                            order: 2;
                        }

                        .description__item-info {
                            order: 1;
                        }
                    }
                }

                &__item-img {
                    border: 2px solid #000;
                    border-radius: 8px;
                    background: #fff;
                    text-align: center;
                    width: 546px;
                    height: 320px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                    }
                }

                &__item-info {
                    max-width: 546px;
                }

                &__item-info--title {
                    font-size: 42px;
                    line-height: 50px;
                    font-weight: bold;
                    margin-bottom: 16px;
                    text-align: left;
                }

                &__item-info--text {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .statistic {
                padding-top: 120px;
                padding-bottom: 120px;
                border-bottom: 2px solid #000;

                &__items {
                    display: flex;
                    justify-content: space-between;
                }

                &__item {
                    width: 33.33%;
                }

                &__item-count {
                    font-size: 80px;
                    line-height: 98px;
                }

                &__item-text {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: bold;
                }
            }

            .comments {
                padding-top: 120px;

                &__items {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                &__item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 48%;
                    margin-right: 45px;
                    margin-bottom: 40px;

                    &:nth-of-type(2n) {
                        margin-right: 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                &__rating {
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;
                }

                &__rating-star {
                    margin-right: 16px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                &__text {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 40px;
                    max-width: 744px;
                    text-align: center;
                }

                &__profile {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: bold;
                }

                &__profile-avatar {
                    margin-bottom: 16px;
                }
            }
        }
    }
}